<template name="about">
	<div class="about-div">
		<div class="container">
			<div class="row">
				<div class="col-xs-9 col-sm-9 col-md-9 contents">
					<h2><strong>YIYI ZHAI</strong></h2>
					<hr>
					<p class="summary"><strong>Graduating ECE MEng in Cornell, Software Engineer, DataBase Teaching Assistant, Job Hunter</strong></p>
					<p class="non-summary">&nbsp;&nbsp;I mainly program in Java, JavaScript, and Python, and have industrial experience and projects in front-end, back-end development, scalable systems design and development, DataBase, Computer Graphics, and Computer Vision. My current interets are mainly in backend, machine learning, and algorithm related design.</p>
					<p class="non-summary">&nbsp;&nbsp;I'm currently looking for a full-time Software Engineer position which starts from January 2017.</p>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3">
					<h1 class="title text-center"><strong>ABOUT</strong></h1>
					<hr class="below-title text-center">
				</div>
			</div>
		</div>
	</div>
	
</template>