<template name="contact">
<div class="contact-div">
	<div class="container">
	<div class="row text-center">
		<div class="col-md-9 col-sm-9">
			<a href="https://www.linkedin.com/in/yiyi-lily-zhai-564a76106"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
			<a href="https://github.com/yiyizhai"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>
			<!-- <i class="fa fa-envelope fa-4x" aria-hidden="true"></i> -->
		</div>
		<div class="col-md-3 col-sm-3">
			<h1 class="title text-center"><strong>Contact</strong></h1>
			<hr class="below-title text-center">
		</div>
		
	</div>
	</div>
</div>

<div class="footer">
	<div class="container text-center footer-div">
		<p>YiyiZhai &copy; 2016</p>
	</div>
</div>
</template>