<template name="education">
	<div class="education-div">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<h1 class="title-color text-center"><strong>Education</strong></h1>
				<hr class="below-title-color text-center">
			</div>
			<div class="col-sm-9 col-md-9">
				<div class="sub-edu">
					<div class="row pic">
						<div class="col-md-3 text-center">
							<img src="img/cornell.png" class="shool-pic">
						</div>
						<div class="col-md-9">
							<h3>Cornell University <i class="p-edu-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sept. 2015 - Dec. 2016</i></h3>
							<hr class="blow-sub-title">
							<p class="p-edu"> &nbsp;&nbsp;>&nbsp;&nbsp;Master of Engineering, GPA 3.76</p>
							<p class="p-edu"> &nbsp;&nbsp;>&nbsp;&nbsp;School of Electrical and Computer Engineering</p>
							<p class="p-edu">&nbsp;&nbsp;>&nbsp;&nbsp;Courses: DataBase (TA), Computer Graphics, Computer Network, Large-Scale Info System, Machine Learning</p>
						</div>
					</div>
						<div class="row pic">
							<div class="col-md-3 text-center">
								<img src="img/qub.PNG">
							</div>
							<div class="col-md-9">
								<h3>Queen's University Belfast<i class="p-edu-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sept. 2014 - May. 2015</i></h3>
								<hr class="blow-sub-title">
								<p class="p-edu"> &nbsp;&nbsp;>&nbsp;&nbsp;Exchange Student with Full Scholarship</p>
								<p class="p-edu"> &nbsp;&nbsp;>&nbsp;&nbsp;School of Electrical, Electronic Engineering and Computer Science</p>
								<p class="p-edu">&nbsp;&nbsp;>&nbsp;&nbsp;Courses: Software Engineering, Digital System Architecture and Design</p>
								<p class="p-edu">&nbsp;&nbsp;>&nbsp;&nbsp;Honor: INVITA PRIZE (Top 1 Senior Project)</p>
							</div>
						</div>
						<div class="row pic">
							<div class="col-md-3 text-center">
								<img src="img/HDU.png"  class="shool-pic">
							</div>
							<div class="col-md-9">
								<h3>Hangzhou Dianzi University<i class="p-edu-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sept. 2011 - May. 2015</i></h3>
								<hr class="blow-sub-title">
								<p class="p-edu"> &nbsp;&nbsp;>&nbsp;&nbsp;Bachelor of Engineering, GPA 3.89</p>
								<p class="p-edu"> &nbsp;&nbsp;>&nbsp;&nbsp;School of Electronic and Information Engineering</p>
								<p class="p-edu">&nbsp;&nbsp;>&nbsp;&nbsp;Courses: Data Structure, Digital Image Processing, Planning and Designing of Website </p>
								<p class="p-edu">&nbsp;&nbsp;>&nbsp;&nbsp;Honor: National Merit Scholarship</p>
							</div>
						</div>
					
				</div>
			</div>
		</div>
	</div>
	</div>
</template>