<template name="experience">
	<div class="experience-div">
		<div class="container">
			<div class="row">
				<div class="col-xs-9 col-sm-9 col-md-9 contents">
					<h3 class="sub-title"><strong>Intern @ CloudBrain</strong></h3>
					<hr class="blow-sub-title">
					<div class="project">
						<div class="row pic">
							<div class="col-md-4 text-center">
								<img class="project-img" src="img/schema.png">	
								<button type="button" class="btn btn-default project-btn"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>FBS Generator	</button>		
							</div>
							<div class="col-md-4 text-center">
								<img class="project-img" src="img/homepage1.png">
								<button type="button" class="btn btn-default project-btn"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>HomePage	</button>			
							</div>
							<div class="col-md-4 text-center">
								<img class="project-img" src="img/tagger2.PNG">
								<button type="button" class="btn btn-default project-btn"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Tag Editor	</button>
							</div>
						</div>
					</div>
					<div>
					<h3 class="sub-title"><strong>Projects</strong></h3>
					<hr class="blow-sub-title text-center">
						<div class="col-md-4">
						<button type="button" class="btn btn-default btn-lg project-btn">
  							<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Fast Convergence Page</p>
  							<p> Rank in Map Reduce </p><p> Java Hadoop </p>
					    </button>
					    </div>

					 
							<div class="col-md-4">
					    	<button type="button" class="btn btn-default btn-lg project-btn">
  							<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Intelligent Text Editor </p>
  							<p> Java </p>
					    	</button>
					    	</div>
					
					 		<div class="col-md-4">
					    	<button type="button" class="btn btn-default btn-lg project-btn">
  							<p><span class="glyphicon glyphicon-star" aria-hidden="true"></span>B+ Indexing Tree  </p>
  							<p>Implementation</p>
  							<p> Java RDBMS </p>
					    	</button>
					    	</div>
					 
					   
					</div>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3">
					<h1 class="title text-center"><strong>Experience</strong></h1>
					<hr class="below-title text-center">
				</div>
			</div>
		</div>
	</div>
	
</template>